@import url(https://fonts.googleapis.com/css?family=Open+Sans);

@font-face {
    font-family: "Open Sans Condensed Light";
    src: url(../fonts/OpenSans-CondLight.ttf);
}

/* reset browser styles */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.2;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} 
ol { 
	padding-left: 1.4em;
	list-style: decimal;
}
ul {
	padding-left: 1.4em;
	list-style: square;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

*, *:before, *:after {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

/* end reset browser styles */

// styles applying to all

h1, h2, h3, h4, a, p, #latestnews, .latestnews-subject {
	font-family: "Open Sans";
}

span {
	font-family: "Open Sans Condensed Light";
	font-weight: 300;
}

@media screen and (min-width: 1200px){ 
	#top {
		width: 100%;
		height: auto;
		#mainwrapper img {
			width: 100%;
			height: 100%;
		}
	}
	header {
		position: fixed;
		width: 100%;
		height: 133px;
		background: white;
		display: block;
		z-index: 1;
		#header-container {
			width: 100%;
			height: 133px;
			margin: 0 auto;
			width: 1200px; 
			#logo-wrapper {
				display: inline-block;
				float: left;
				margin-right: -250px;
				img {
					margin: 38px 0 35px 7px;
				}
			}
			#menu {
				display: inline-block; 
				float: right;
				padding-right: 25px;
				overflow: hidden;
				nav {
					padding: 57px 0 0 0;
					ul {
						// codes
						li {
							list-style-type: none;
							display: inline-block;
							padding-left: 28px; 
							a {
								text-decoration: none;
								font-size: 17px;
								color: black;
								&:hover {
									color: #f3c26d;
								}
							}
						}
					}
				}
				select {
					display: none;
				}
			}
		}
	}
	
	#main {
		display: block;
		width: 100%;
		height: auto;
		#mainwrapper {
			width: 100%;
			height: auto;
			#mainwrapper img {
				width: 100%;
				height: auto;
			}
		}
	}
	
	#latestnews {
		display: block;
		background: url('../images/wooden-bg.jpg') repeat center center;
		color: white; 
		padding-bottom: 4%;
		#latestnews-headline {
			display: block;
			text-align: center;
			font-size: 33px; 
			padding-top: 2.8%;
		}
		.latestnews-news {
			display: inline-block;
			width: 50%; 
			padding: 18px 0 0 20%;
			.latestnews-order {
				float:left;
				font-size: 65px;
				color: #69584d;
			}
			.latestnews-content {
				display: inline-block;
				width: 75%; 
				padding-left: 25px;
				position: relative;
				.latestnews-subject {
					font-size: 1.33em;				
				}
				p {
					font-size: 13px;
				}
			}
		}
	}
}

	#four-container {
		width: 100%;
		margin: 0 auto;
		text-align: center;
		background: #f5f5f5;
		#four-wrapper {
			width: 100%;
			padding: 50px 0 100px 0;
			h4 {
				display: block;
				margin: 0 auto;
				position: relative;
				width: 100%;
				text-align: center;
				padding-bottom: 23px;
				font-weight: 400;
				font-size: 33px;
			}
			#four-content {
				width: 100%;
				margin: 0 auto;
				hr {
					width: auto;
					display: block;
					height: 1px;
					border: 0;
					border-bottom: 1px solid white;  
					padding-bottom: 40px;
				}
				.twoboxes{
					display: inline-block;
					.four-element {
						display: inline-block;
						width: 270px;
						background: #f5f5f5;
						margin: 0 11px;
						&:hover {
							background: #f3c26d;
							cursor: pointer;
						}
						img {
							width: 270px;
							height: 230px;
							display: inline-block;	
						}
						p {
							text-align: center;
							width: 100%;
							margin-top: -2%;
							padding: 14px 0 14px 0;
						}
					
					}
				}
			}
		}
	}

	#more-about-us {
		width: 100%;
		display: block;
		background: white;
		#more-content {
			margin: auto;
			text-align: center;
			h4 {
				padding-bottom: 27px;
				font-size: 33px;
				font-weight: 400;
				padding-top: 45px;
			}
			p {
				margin-bottom: 10px;
				width: auto;
			}
			img {
				width: 38px;
				height: 34px;
				margin-bottom: 60px;
			}
		}
	}

	#map-container {
		width: 100%;
		height: 245px;
		background-color: rgba(0, 0, 0, 0.2);
		#map-wrapper {
			width: 100%;
			height: auto;
			iframe {
				position: absolute;
				width: 100%;
				height: 245px;
				z-index: -1;
			}
			#map-info {
				left: 30%;
				right: 30%;			
				position: absolute;
				text-align: center; 
				padding-top: 5%;
				img {
					width: 34px;
					height: 40px;
				}
				h4 {
					z-index: 1;	
					color: white;
					font-size: 18px;
				}
			}
		}
	}
	
	#back-top {
		background: white;
		border-radius: 50%;
		padding: 5px 15px;
		border: 1px solid black;
		position: fixed;
		right: 50px;
		bottom: 50px;
		font-size: 32px;
		font-weight: 900;
		display: none; 
		&:hover {
			cursor: pointer;
			padding: 2px 9px;
		}
 }
	
	footer {
		#footer-container {
			text-align: center;
			font-size: 14px;
			font-weight: 400;
			padding-top: 48px;
			padding-bottom: 50px;
		}
	}
// end of large screen

@media screen and (min-width: 992px) and (max-width: 1199px){ 
	#top {
		width: 100%;
		height: auto;
		#mainwrapper img {
			width: 100%;
			height: 100%;
		}
	}
	header {
		position: fixed;
		width: 100%;
		height: 133px;
		background: white;
		display: block;
		z-index: 1;
		#header-container {
			height: 133px;
			margin: 0 auto;
			width: 970px;
			#logo-wrapper {
				display: inline-block;
				float: left;
				margin-right: -250px;
				img {
					margin: 38px 0 35px 7px;
				}
			}
			#menu {
				display: inline-block; 
				float: right;
				padding-right: 25px;
				overflow: hidden;
				nav {
					padding: 57px 0 0 0;
					ul {
						// codes
						li {
							list-style-type: none;
							display: inline-block;
							padding-left: 28px;
							a {
								text-decoration: none;
								font-size: 17px;
								color: black;
								&:hover {
									color: #f3c26d;
								}
							}
						}
					}
				}
				select {
					display: none;
				}
			}
		}
	}
	
	#main {
		display: block;
		width: 100%;
		height: auto;
		#mainwrapper {
			width: 100%;
			height: auto;
			#mainwrapper img {
				width: 100%;
				height: auto;
			}
		}
	}
	
	#latestnews {
		display: block;
		background: url('../images/wooden-bg.jpg') repeat center center;
		color: white; 
		padding-bottom: 4%;
		#latestnews-headline {
			display: block;
			text-align: center;
			font-size: 33px; 
			padding-top: 2.8%;
		}
		.latestnews-news {
			display: inline-block;
			width: 50%; 
			padding: 18px 0 0 5%;
			.latestnews-order {
				float:left;
				font-size: 65px;
				color: #69584d;
			}
			.latestnews-content {
				display: inline-block;
				width: 75%; 
				padding-left: 25px;
				position: relative;
				.latestnews-subject {
					font-size: 1.33em;				
				}
				p {
					font-size: 13px;
				}
			}
		}
	}

	#four-container {
		width: 100%;
		margin: 0 auto;
		text-align: center;
		background: #f5f5f5;
		#four-wrapper {
			width: 100%;
			padding: 50px 0 100px 0;
			h4 {
				display: block;
				margin: 0 auto;
				position: relative;
				width: 100%;
				text-align: center;
				padding-bottom: 23px;
				font-weight: 400;
				font-size: 33px;
			}
			#four-content {
				width: 98%;
				margin: 0 auto;
				hr {
					width: auto;
					display: block;
					height: 1px;
					border: 0;
					border-bottom: 1px solid white;  
					padding-bottom: 40px;
				}
				.twoboxes{
					margin-bottom: 3%;
					.four-element {
						display: inline-block;
						width: 455px;
						background: #f5f5f5;
						margin: 0 15px 1% 0;
						&:hover {
							background: #f3c26d;
							cursor: pointer;
						}
						img {
							width: 455px;
							height: 387.578px;
							display: inline-block;	
						}
						p {
							text-align: center;
							width: 100%;
							margin-top: -2%;
							padding: 14px 0 14px 0;
						}					
					}
				}
			}
		}
	}

	#more-about-us {
		width: 100%;
		display: block;
		background: white;
		#more-content {
			margin: auto;
			text-align: center;
			h4 {
				padding-bottom: 27px;
				font-size: 33px;
				font-weight: 400;
				padding-top: 45px;
			}
			p {
				margin-bottom: 10px;
				width: auto;
			}
			img {
				width: 38px;
				height: 34px;
				margin-bottom: 60px;
			}
		}
	}
	
	#back-top {
		background: white;
		border-radius: 50%;
		padding: 5px 15px;
		border: 1px solid black;
		position: fixed;
		right: 50px;
		bottom: 50px;
		font-size: 32px;
		font-weight: 900;
		display: none; 
		&:hover {
			cursor: pointer;
			padding: 2px 9px;
		}
 }
	
	#map-container {
		width: 100%;
		height: 245px;
		background-color: rgba(0, 0, 0, 0.2);
		#map-wrapper {
			width: 100%;
			height: auto;
			iframe {
				position: absolute;
				width: 100%;
				height: 245px;
				z-index: -1;
			}
			#map-info {
				left: 30%;
				right: 30%;			
				position: absolute;
				text-align: center; 
				padding-top: 5%;
				img {
					width: 34px;
					height: 40px;
				}
				h4 {
					z-index: 1;	
					color: white;
					font-size: 18px;
				}
			}
		}
	}
	
	footer {
		#footer-container {
			text-align: center;
			font-size: 14px;
			font-weight: 400;
			padding-top: 48px;
			padding-bottom: 50px;
		}
	}
}

@media screen and (min-width: 768px) and (max-width: 991px) { 
	#top {
		width: 100%;
		height: auto;
		#mainwrapper img {
			width: 100%;
			height: 100%;
		}
	}
	header {
		position: fixed;
		width: 100%;
		height: 126px;
		background: white;
		display: block;
		z-index: 1;
		#header-container {
			height: 126px;
			margin: 0 auto;
			width: 750px;
			#logo-wrapper {
				display: inline-block;
				float: left;
				margin-right: -250px;
				img {
					margin: 38px 0 35px 15px;
					width: 157.5px;
					height: 52px;
				}
			}
			#menu {
				display: inline-block; 
				float: right;
				padding-right: 25px;
				overflow: hidden;
				nav {
					padding: 57px 0 0 0;
					ul {
						// codes
						li {
							list-style-type: none;
							display: inline-block;
							padding-left: 28px;
							a {
								text-decoration: none;
								font-size: 15px;
								color: black;
								&:hover {
									color: #f3c26d;
								}
							}
						}
					}
				}
				select {
					display: none;
				}
			}
		}
	}
	
	#main {
		display: block;
		width: 100%;
		height: auto;
		#mainwrapper {
			width: 100%;
			height: auto;
			#mainwrapper img {
				width: 100%;
				height: auto;
			}
		}
	}
	
	#latestnews {
		display: block;
		background: url('../images/wooden-bg.jpg') repeat center center;
		color: white; 
		padding-bottom: 4%;
		#latestnews-headline {
			display: block;
			text-align: center;
			font-size: 33px; 
			padding-top: 2.8%;
		}
		.latestnews-news {
			display: inline-block;
			width: 50%; 
			padding: 18px 0 0 5%;
			.latestnews-order {
				float:left;
				font-size: 65px;
				color: #69584d;
			}
			.latestnews-content {
				display: inline-block;
				width: 75%; 
				padding-left: 25px;
				position: relative;
				.latestnews-subject {
					font-size: 1.33em;				
				}
				p {
					font-size: 13px;
				}
			}
		}
	}


	#four-container {
		width: 100%;
		margin: 0 auto;
		text-align: center;
		background: #f5f5f5;
		#four-wrapper {
			width: 100%;
			padding: 50px 0 100px 0;
			h4 {
				display: block;
				margin: 0 auto;
				position: relative;
				width: 100%;
				text-align: center;
				padding-bottom: 23px;
				font-weight: 400;
				font-size: 33px;
			}
			#four-content {
				width: 98%;
				margin: 0 auto;
				hr {
					width: auto;
					display: block;
					height: 1px;
					border: 0;
					border-bottom: 1px solid white;  
					padding-bottom: 40px;
				}
				.twoboxes {
					.four-element {
						display: inline-block;
						width: 345px;
						background: #f5f5f5;
						margin: 0 10px 5% 10px;
						&:hover {
							background: #f3c26d;
							cursor: pointer;
						}
						img {
							width: 345px;
							height: 293.875px;
							display: inline-block;	
						}
						p {
							text-align: center;
							width: 100%;
							margin-top: -2%;
							padding: 14px 0 14px 0;
							font-size: 15px;
						}					
					}
				}
			}
		}
	}

	#more-about-us {
		width: 100%;
		display: block;
		background: white;
		#more-content {
			margin: auto;
			text-align: center;
			h4 {
				padding-bottom: 27px;
				font-size: 33px;
				font-weight: 400;
				padding-top: 45px;
			}
			p {
				margin-bottom: 10px;
				width: auto;
			}
			img {
				width: 38px;
				height: 34px;
				margin-bottom: 60px;
			}
		}
	}

	#map-container {
		width: 100%;
		height: 245px;
		background-color: rgba(0, 0, 0, 0.2);
		#map-wrapper {
			width: 100%;
			height: auto;
			iframe {
				position: absolute;
				width: 100%;
				height: 245px;
				z-index: -1;
			}
			#map-info {
				left: 30%;
				right: 30%;			
				position: absolute;
				text-align: center; 
				padding-top: 5%;
				img {
					width: 34px;
					height: 40px;
				}
				h4 {
					z-index: 1;	
					color: white;
					font-size: 18px;
				}
			}
		}
	}
	
	#back-top {
		background: white;
		border-radius: 50%;
		padding: 5px 15px;
		border: 1px solid black;
		position: fixed;
		right: 50px;
		bottom: 50px;
		font-size: 32px;
		font-weight: 900;
		display: none; 
		&:hover {
			cursor: pointer;
			padding: 2px 9px;
		}
	}	
	
	footer {
		#footer-container {
			text-align: center;
			font-size: 14px;
			font-weight: 400;
			padding-top: 48px;
			padding-bottom: 50px;
		}
	}
}

// end of medinum screen

@media screen and (max-width: 767px){ 
	#top {
		width: 100%;
		height: auto;
		#mainwrapper img {
			width: 100%;
			height: 100%;
		}
	}
	header {

		width: 100%;
		height: 186px;
		background: white;
		display: block;
		z-index: 1;
		#header-container {
			height: 186px;
			width: 100%;
			#logo-wrapper {
				display: table;
				margin: 0 auto;
				padding-top: 8%;
				padding-bottom: 7%;
				img {
					width: 180px;
					height: 60px;
				}
			}
			#menu {
				display: block; 
				margin-bottom: 5%;
				nav {
					display: none;
				}
				select {
					width: 93%;
					display: table;
					margin: 0 auto;
					height: 23px;
					font-size: 1em;
				}
			}
		}
	}
	
	#main {
		display: block;
		width: 100%; padding-top: 8%;
		#mainwrapper {
			width: 100%;
			#mainwrapper img {
				width: 100%;
			}
		}
	}
	
	#latestnews {
		display: block;
		background: url('../images/wooden-bg.jpg') repeat center center;
		color: white; 
		padding-bottom: 4%;
		#latestnews-headline {
			display: block;
			text-align: center;
			font-size: 33px; 
			padding-top: 8%;
		}
		.latestnews-news {
			display: block;
			width: 90%; 
			padding: 18px 0 0 5%;
			.latestnews-order {
				float:left;
				font-size: 65px;
				color: #69584d;
			}
			.latestnews-content {
				display: inline-block;
				width: 75%; 
				padding-left: 25px;
				position: relative;
				.latestnews-subject {
					font-size: 22px;	
					padding-top: 5%;
				}
				p {
					font-size: 13px;
					padding-bottom: 10%;
				}
			}
		}
	}


	#four-container {
		width: 100%;
		margin: 0 auto;
		text-align: center;
		background: #f5f5f5;
		#four-wrapper {
			width: 100%;
			padding: 50px 0 100px 0;
			h4 {
				display: block;
				margin: 0 auto;
				position: relative;
				width: 100%;
				text-align: center;
				padding-bottom: 23px;
				font-weight: 400;
				font-size: 33px;
			}
			#four-content {
				width: 98%;
				margin: 0 auto;
				hr {
					width: auto;
					display: block;
					height: 1px;
					border: 0;
					border-bottom: 1px solid white;  
					padding-bottom: 40px;
				}
				.four-element {
					display: block;
					width: 95%;
					height: auto;
					background: #f5f5f5;
					margin: 5% auto;
					&:hover {
						background: #f3c26d;
						cursor: pointer;
					}
					img {
						width: 100%;
						height: auto;
						// display: block;	
					}
					p {
						text-align: center;
						width: 100%;
						margin-top: -2%;
						padding: 14px 0 14px 0;
						font-size: 15px;
					}						
				}
			}
		}
	}

	#more-about-us {
		width: 100%;
		display: block;
		background: white;
		#more-content {
			margin: auto;
			text-align: center;
			h4 {
				padding-bottom: 27px;
				font-size: 33px;
				font-weight: 400;
				padding-top: 45px;
			}
			p {
				margin-bottom: 10px;
				width: auto;
			}
			img {
				width: 38px;
				height: 34px;
				margin-bottom: 60px;
			}
		}
	}

	#map-container {
		width: 100%;
		height: 245px;
		background-color: rgba(0, 0, 0, 0.2);
		#map-wrapper {
			width: 100%;
			height: auto;
			iframe {
				position: absolute;
				width: 100%;
				height: 245px;
				z-index: -1;
			}
			#map-info {
				left: 30%;
				right: 30%;			
				position: absolute;
				text-align: center; 
				padding-top: 5%;
				img {
					width: 34px;
					height: 40px;
				}
				h4 {
					z-index: 1;	
					color: white;
					font-size: 18px;
				}
			}
		}
	}

	#back-top {
		background: white;
		border-radius: 50%;
		padding: 5px 15px;
		border: 1px solid black;
		position: fixed;
		right: 50px;
		bottom: 50px;
		font-size: 32px;
		font-weight: 900;
		display: none; 
		&:hover {
			cursor: pointer;
			padding: 2px 9px;
		}
	}	
	
	footer {
		#footer-container {
			text-align: center;
			font-size: 14px;
			font-weight: 400;
			padding-top: 48px;
			padding-bottom: 50px;
		}
	}
}
// end of small screen 